<!DOCTYPE html>
<html lang="en">
{{template "Head"}}

<body>
  {{if $.IsAuthenticated}}
{{template "Header"}}
 {{else}}
{{template "HeaderSignedOut"}}
{{end}}
  <main>
    <section id="about">
      <h2>About Us</h2>
      <p>Welcome to Literary Lions, a platform where literature enthusiasts can share and discuss their favorite works.</p>
      <p>Our mission is to create a community where people can connect over their love for reading and writing.</p>
      <p>Here at Literary Lions, we value:</p>
      <ul>
        <li>Respect: We believe in respectful discussions and constructive feedback.</li>
        <li>Passion: We are driven by our love for literature and our desire to share it with others.</li>
      </ul>
      <p>Thank you for being a part of our community!</p>
    </section>
  </main>
  {{template "Footer"}}
</body>
</html>
