<!DOCTYPE html>
<html lang="en">
{{template "Head"}}

<body>
  {{if $.IsAuthenticated}}
{{template "Header"}}
 {{else}}
{{template "HeaderSignedOut"}}
{{end}}
  <main>
    <aside class="bordered" id="content">
      <h2>Categories</h2>
      <ul>
        {{range .Categories}}
        <li class="category-list-item">
          <div class="link-container click-button">
            <a class="link" href="/?category={{.}}">{{.}}</a><br>
          </div>
        </li>
        {{end}}
      </ul>
    </aside>
  </main>
  {{template "Footer"}}
</body>

</html>