<!DOCTYPE html>
<html lang="en">
{{template "Head"}}

<body>
    {{template "Header"}}
    <main>
        <aside id="create-post-form" class="bordered">
            <h2>Create a New Post</h2>
            <form action="/create_post" method="post">
                <input class="input-box create-post-input" placeholder="title" type="text" id="title" name="title"
                    value="{{.Title}}"><br>
                {{with .FieldErrors.title}}
                <label class="error">{{.}}</label><br>
                {{end}}

                <textarea class="input-box create-post-input" placeholder="content" id="content"
                    name="content">{{.Content}}</textarea><br>
                {{with .FieldErrors.content}}
                <label class="error">{{.}}</label><br>
                {{end}}

                <input class="input-box create-post-input" placeholder="category" type="text" id="category"
                    name="category" value="{{.Category}}"><br>
                {{with .FieldErrors.category}}
                <label class="error">{{.}}</label><br>
                {{end}}

                <button class="button click-button" id="create-post-button" type="submit">Create post</button>
            </form>
        </aside>
    </main>
    {{template "Footer"}}
</body>
</html>