<!DOCTYPE html>
<html lang="en">
{{template "Head"}}
<body>
{{template "HeaderSignedOut"}}
  <main>
    {{template "Searchbar"}}
    <section id="content">
      <h2>Latest Threads</h2>
      <form method="GET" action="/">
        <label for="category-filter">Filter by Category:</label>
        <select id="category-filter" name="category">
          <option value="">All</option>
          <option value="Specific Books" {{if eq .SelectedCategory "Specific Books"}}selected{{end}}>Specific Books</option>
          <option value="In-depth" {{if eq .SelectedCategory "In-depth"}}selected{{end}}>In-depth</option>
          <option value="Character Study" {{if eq .SelectedCategory "Character Study"}}selected{{end}}>Character Study</option>
          <option value="Interviews" {{if eq .SelectedCategory "Interviews"}}selected{{end}}>Interviews</option>
          <option value="Fiction" {{if eq .SelectedCategory "Fiction"}}selected{{end}}>Fiction</option>
          <option value="Biography" {{if eq .SelectedCategory "Biography"}}selected{{end}}>Biography</option>
          <option value="Discussion" {{if eq .SelectedCategory "Discussion"}}selected{{end}}>Discussion</option>
        </select>
        <button type="submit">Apply</button>
      </form>
      <ul class="thread-list">
        {{if .Posts}}
          {{range .Posts}}
          <div>
            <li class="thread-item">
              <div class="link-container click-button">
                <a class="link thread-title" href="/post/{{.ID}}">{{.Title}}</a>
              </div>
              <p>{{.Content}}</p>
              <p>by <a href="/profile/{{.Username}}">{{.Username}}</a> - {{formatDate .Date}}</p>
              <p>{{.Category}}</p>
              <p>Likes: {{.Likes}} Dislikes: {{.Dislikes}}</p>
            </li>
          </div>
          {{end}}
        {{else}}
          <p>No posts available for this category.</p>
        {{end}}
      </ul>
      <p>Please <a href="/login">login</a> or <a href="/register">register</a> to create posts.</p>
    </section>
  </main>
{{template "Footer"}}
</body>
</html>
