<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Post.Title}}</title>
    <link rel="stylesheet" href="../../css/styles.css">
</head>
<body>
  {{template "Header"}}
  <main>
    <section id="content">
      <h2>{{.Post.Title}}</h2>
      <p>by <a href="/profile/{{.Post.Username}}">{{.Post.Username}}</a> - {{.Post.Date}}</p>
      <p>{{.Post.Content}}</p>
      <p>Category: {{.Post.Category}}</p>
      <p>Likes: {{.Post.Likes}} Dislikes: {{.Post.Dislikes}}</p>
      <h3>Comments</h3>
      {{range .Comments}}
      <div class="thread-item">
          <p>{{ .Content }}</p>
          <p>by <a href="/profile/{{ .Username }}">{{ .Username }}</a> - {{ .Date }}</p>
          <p>Likes: {{ .Likes }} Dislikes: {{ .Dislikes }}</p>
          
          <!-- Like/Dislike Form -->
          <form action="/like_comment" method="POST">
              <input type="hidden" name="comment_id" value="{{ .ID }}">
              <input type="hidden" name="post_id" value="{{ .PostID }}">
              <input type="hidden" name="action" value="like">
              <button type="submit">Like</button>
          </form>
          <form action="/like_comment" method="POST">
              <input type="hidden" name="comment_id" value="{{ .ID }}">
              <input type="hidden" name="post_id" value="{{ .PostID }}">
              <input type="hidden" name="action" value="dislike">
              <button type="submit">Dislike</button>
          </form>
      </div>
      {{end}}
      <h3>Add Comment</h3>
      <form action="/submit-comment" method="post">
        <input type="hidden" name="post_id" value="{{.Post.ID}}">
        <textarea name="content" rows="4" cols="50" required></textarea><br>
        <input type="submit" value="Submit">
      </form>
    </section>
  </main>
  <footer>
    <p>&copy; Literary Lions 2024</p>
  </footer>
</body>
</html>