<!DOCTYPE html>
<html lang="en">
{{template "Head"}}

<body>
  {{template "Header"}}
  <main>
    <aside class="bordered" id="profile">
      <h2>{{toUpper .Username}}'s Profile</h2>
      <div id="bio-section">
        <h3>Bio</h3>
        <form action="/updatebio" method="post">
          <textarea class="filter-form" id="bio" name="bio" rows="4" cols="50">{{.Bio}}</textarea><br>
          <button class="button click-button" type="submit">Save Bio</button>
        </form>
      </div>
      <div id="posts-section">
        <h3 class="profile-heading">Posts by {{.Username}}</h3>
        <ul id="user-posts">
          {{range .CreatedPosts}}
          <li class="profile-list-item">
          <div class="link-container click-button">
            <a class="link" href="/post/{{.ID}}">{{.Title}} - {{formatDate .Date}}</a>
          </div>
        </li>
          {{end}}
        </ul>
      </div>
      <div id="liked-section">
        <h3 class="profile-heading">Posts Liked by {{.Username}}</h3>
        <ul id="liked-posts">
          {{range .LikedPosts}}
          <li class="profile-list-item">
          <div class="link-container click-button">
            <a class="link" href="/post/{{.ID}}">{{.Title}} - {{formatDate .Date}}</a>
          </div>
          </li>
          {{end}}
        </ul>
      </div>
    </aside>
  </main>
  {{template "Footer"}}
</body>

</html>