<!DOCTYPE html>
<html lang="en">
{{template "Head"}}
<body>
  {{template "Header"}}
  <main>
    <section id="content">
      <h2>{{.Username}}'s Profile</h2>
      <p>{{.Username}}</p>
      <div id="bio-section">
        <h3>Bio</h3>
        <form action="/updatebio" method = "post">
          <textarea id="bio" name="bio" rows="4" cols="50">{{.Bio}}</textarea>
          <button type="submit">Save Bio</button>
        </form>
      </div>
      <div id="posts-section">
        <h3>Posts by {{.Username}}</h3>
        <ul id="user-posts">
          {{range .CreatedPosts}}
          <li><a href="/post/{{.ID}}">{{.Title}}</a> - {{.Date}}</li>
          {{end}}
        </ul>
      </div>
      <div id="liked-section">
        <h3>Posts Liked by {{.Username}}</h3>
        <ul id="liked-posts">
          {{range .LikedPosts}}
          <li><a href="/post/{{.ID}}">{{.Title}}</a> - {{.Date}}</li>
          {{end}}
        </ul>
      </div>
    </section>
  </main>
  <footer>
    <p>&copy; Literary Lions 2024</p>
  </footer>
</body>
</html>