<!DOCTYPE html>
<html lang="en">
{{template "Head"}}
<body>
  {{template "Header"}}
  <main>
    {{template "Searchbar"}}
    <section id="content">
      <h2>Latest Threads</h2>
      <ul class="thread-list">
        {{range .Posts}}
        <div class="thread-parent">
          <div class="thread-child thread-child-front">
            <li>
              <div class="link-container">
                <a class="link" href="#">{{.Title}}</a>
              </div>
              <p>{{.Content}}</p>
              <p>by {{.Username}} - {{.Date}}</p>
              <p>{{.Category}}</p>
            </li>
          </div>
          <div class="thread-child thread-child-back"></div>
        </div>
        {{end}}
      </ul>
      <div class="link-container">
        <a class="link" href="/create_post" class="create-post-link">Create a New Post</a>
      </div>
    </section>
  </main>
  <footer>
    <p>&copy; Literary Lions 2024</p>
  </footer>
</body>
</html>
