<!DOCTYPE html>
<html lang="en">
{{template "Head"}}
<body>
{{template "Header"}}
  <main>
    {{template "Searchbar"}}
    <section id="content">
      <h2>Latest Threads</h2>
      <ul class="thread-list">
        {{range .Posts}}
        <div>
            <li class="thread-item">
              <div class="link-container click-button">
                <a class="link thread-title" href="/post/{{.ID}}">{{.Title}}</a>
              </div>
              <p>{{.Content}}</p>
              <p>by <a href="/profile/{{.Username}}">{{.Username}}</a> - {{.Date}}</p>
              <p>{{.Category}}</p>
              <p>Likes: {{.Likes}} Dislikes: {{.Dislikes}}</p>
          
          {{if $.IsAuthenticated}}
          <form action="/like_post" method="POST">
            <input type="hidden" name="post_id" value="{{.ID}}">
            <button type="submit" name="action" value="like">Like</button>
            <button type="submit" name="action" value="dislike">Dislike</button>
          </form>
          {{end}}
        </li>
        </div>
        {{end}}
      </ul>
      <div class="link-container click-button">
        <a class="link" href="/create_post" class="create-post-link">Create a New Post</a>
      </div>
    </section>
  </main>
  <footer>
    <p>&copy; Literary Lions 2024</p>
  </footer>
</body>
</html>
