<!DOCTYPE html>
<html lang="en">
{{template "Head"}}
<body>
  {{template "Header"}}
  <main>
    <aside>
      <h2>Search</h2>
      <form action="/search">
        <input type="text" name="search" placeholder="Search Forums">
        <button type="submit">Search</button>
      </form>
      <h2>Online Users</h2>
      <ul>
        </ul>
    </aside>
    <section id="content">
      <h2>Latest Threads</h2>
      <ul class="thread-list">
        {{range .Posts}}
        <li>
          <a href="#">{{.Title}}</a>
          <p>{{.Content}}</p>
          <p>by {{.Username}} - {{.Date}}</p>
          <p>{{.Category}}</p>
        </li>
        {{end}}
      </ul>
      <a href="/create_post" class="create-post-link">Create a New Post</a>
    </section>
  </main>
  <footer>
    <p>&copy; Literary Lions 2024</p>
  </footer>
</body>
</html>
