<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Literary Lions</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>
<body>
  <header>
    <h1><a href="#">Literary Lions</a></h1> 
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Categories</a></li>
        <li><a href="#">About</a></li>
        {{if .Authenticated}}
        <li><a href="/profile">Profile</a></li>
        <li><a href="/logout">Logout</a></li>
        {{else}}
        <li><a href="/login">Login/Signup</a></li>
        {{end}}
      </ul>
    </nav>
  </header>
  <main>
    <aside>
      <h2>Search</h2>
      <form action="/search">
        <input type="text" name="search" placeholder="Search Forums">
        <button type="submit">Search</button>
      </form>
      <h2>Online Users</h2>
      <ul>
        </ul>
    </aside>
    <section id="content">
      <h2>Latest Threads</h2>
      <ul class="thread-list">
        {{range .Posts}}
        <li>
          <a href="#">{{.Title}}</a>
          <p>{{.Content}}</p>
          <p>by {{.Username}} - {{.Date}}</p>
        </li>
        {{end}}
      </ul>
      {{if .Authenticated}}
      <!-- Content specific to authenticated users -->
      <a href="/create_post" class="create-post-link">Create a New Post</a>
      {{else}}
      <!-- Content specific to non-authenticated users -->
      <p>Please <a href="/login">login</a> or <a href="/register">register</a> to create posts.</p>
      {{end}}
    </section>
  </main>
  <footer>
    <p>&copy; Literary Lions 2024</p>
  </footer>
</body>
</html>
