{{define "HeaderSignedOut"}}
<header>
    <h1><a href="#">Literary Lions</a></h1> 
    <nav>
    <div class="link-container nav click-button">
      <a class="link header-element" href="/">Home</a>
    </div>
    <div class="link-container nav click-button">
      <a class="link header-element" href="/categories">Categories</a>
    </div>
    <div class="link-container nav click-button">
      <a class="link header-element" href="/about">About</a>
    </div>
    <div class="link-container nav click-button">
      <a class="link header-element" href="/login">Login/Signup</a>
    </div>
    </nav>
  </header>
{{end}}