{{define "Header"}}
<header>
    <h1><a href="#">Literary Lions</a></h1> 
    <nav>
    <div class="link-container nav click-button">
      <a class="link header-element" href="/">Home</a>
    </div>
    <div class="link-container nav click-button">
      <a class="link header-element" href="/categories">Categories</a>
    </div>
    <div class="link-container nav click-button">
      <a class="link header-element" href="/about">About</a>
    </div>
    <div class="link-container nav click-button">
      <a class="link header-element" href="create_post">Create post</a>
    </div>
    <div class="link-container nav click-button">
      <a class="link header-element" href="/profile">Profile</a>
    </div>
    <div class="link-container nav click-button">
      <a class="link header-element" href="/logout">Logout</a>
    </div>
    </nav>
  </header>
{{end}}