{{define "Header"}}
<header>
    <h1><a href="#">Literary Lions</a></h1> 
    <nav>
    <div class="link-container nav">
      <a class="link header-element" href="/">Home</a>
    </div>
    <div class="link-container nav">
      <a class="link header-element" href="#">Categories</a>
    </div>
    <div class="link-container nav">
      <a class="link header-element" href="#">About</a>
    </div>
    <div class="link-container nav">
      <a class="link header-element" href="/profile">Profile</a>
    </div>
    <div class="link-container nav">
      <a class="link header-element" href="/logout">Logout</a>
    </div>
    </nav>
  </header>
{{end}}