{{define "Header"}}
<header>
    <h1><a href="#">Literary Lions</a></h1> 
    <nav>
      <ul>
          <li>
            <div class="link-container">
              <a class="link header-element" href="/">Home</a>
            </div>
          </li>
          <li>
            <div class="link-container">
              <a class="link header-element" href="#">Categories</a>
            </div>
          </li>
          <li>
            <div class="link-container">
              <a class="link header-element" href="#">About</a>
            </div>
          </li>
          <li>
            <div class="link-container">
              <a class="link header-element" href="/profile">Profile</a>
            </div>
          </li>
          <li>
            <div class="link-container">
              <a class="link header-element" href="/logout">Logout</a>
            </div>
          </li>
      </ul>
    </nav>
  </header>
{{end}}