{{define "Searchbar"}}
<aside>
    <h2>Search</h2>
    <form action="/search">
      <input class="input-box" type="text" name="search" placeholder="Search Forums">
      <select class="input-box" id="channelSelect" name="channels">
        <option value="specific_books">Specific books</option>
        <option value="in-depth">In-depth</option>
        <option value="character_study">Character study</option>
        <option value="interviews">Interviews</option>
        <option value="fiction">Fiction</option>
        <option value="biography">Biography</option>
        <option value="discussion">Discussion</option>
        <option value="all" selected>All</option>
      </select>
      <button class="button click-button" type="submit">Search</button>
    </form>
  </aside>
{{end}}