{{define "Searchbar"}}
<aside>
    <h2>Search</h2>
    <form action="/search">
      <input class="input-box" type="text" name="search" placeholder="Search Forums">
      <select class="input-box" id="search-category" name="category">
        <option value="" selected>All</option>
        <option value="Specific Books">Specific Books</option>
        <option value="In-depth">In-depth</option>
        <option value="Character Study">Character Study</option>
        <option value="Interviews">Interviews</option>
        <option value="Fiction">Fiction</option>
        <option value="Biography">Biography</option>
        <option value="Discussion">Discussion</option>
      </select>
      <button class="button click-button" type="submit">Search</button>
    </form>
</aside>
{{end}}
